  name: Update Data

  on:
    
    workflow_dispatch:

  jobs:
    update:
      runs-on: ubuntu-latest

      permissions:
        contents: write

      steps:
        - uses: actions/checkout@v3
          with:
            ref: main
        - run: rm -rf data/excel/
        - run: mkdir -p tmp/
        - uses: actions/checkout@v3
          with:
            repository: Kengxxiao/ArknightsGameData
            path: tmp/
            sparse-checkout: zh_CN/gamedata/excel/
        - run: mv tmp/zh_CN/gamedata/excel/ data/
        - run: rm -rf tmp/
        - run: git config --global user.name 'github-actions[bot]'
        - run: git config --global user.email 'github-actions[bot]@users.noreply.github.com'
        - run: git add . && git commit -m 'automatic update' && git push origin main || true
